body {
  background-image: url(/img/maxresdefault.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.jij-title {
  color: white;
  text-align: center
}

.jij-button {
  background: url(img/yellow_button.png) ;

}

.jij-btn-test {
  width: 100px
}

.test-button {
  border: none;
  background: transparent;

}